        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            //border: 1px solid rgb(135, 72, 64);
        }
        
        html,
        body {
            height: 100%;
        }
        
        body {
            display: flex;
            flex-direction: column;
            font-family: 'Poppins', sans-serif;
            background: #212831;
        }
        
        .header {
            background: #141a23;
        }
        
        .container {
            max-width: 1100px;
            height: 100%;
            margin: 0 auto;
        }
        
        .center-section {
            flex: 1;
        }
        
        .center-section .container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        .instructions {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: aliceblue;
            flex: 1 0 auto;
        }
        
        .container div {
            padding-top: 30px;
        }
        
        .container .scoreBlock {
            display: flex;
            flex: 1 0 auto;
            gap: 100px;
            color: aliceblue;
        }
        
        .scoreBlock img {
            width: 70px;
            padding-bottom: 8.5px;
        }
        
        .scoreBlock h1 {
            font-size: 50pt;
        }
        
        .scoreBlock h3 {
            padding-top: 20px;
        }
        
        .block {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 20px;
        }
        
        .buttons {
            display: flex;
            justify-content: space-around;
            gap: 40px;
            flex: 1 0 auto;
            padding-bottom: 30px;
        }
        
        .singleButton {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            color: aliceblue;
        }
        
        .singleButton input {
            width: 150px;
        }
        
        .singleButton {
            transition: all .15s ease-in-out;
        }
        
        .singleButton:hover {
            transform: scale(1.1);
        }
        
        .header .container {
            display: flex;
            flex-direction: column;
            color: aliceblue;
            align-items: center;
            justify-content: center;
            padding: 20px;
            gap: 20px;
        }
        
        .footer {
            margin-top: auto;
            flex-shrink: 0;
            background-color: #141a23;
        }
        
        .footer .container {
            display: flex;
            height: 50px;
            justify-content: center;
            align-items: center;
            color: white;
            font-weight: 100;
        }
        
        @media(max-width: 600px) {
            .header .container {
                font-size: 75%;
            }
            .center-section .buttons {
                flex-direction: row;
                gap: 20px;
            }
            .instructions {
                font-size: 75%;
                padding: 20px;
            }
            .container .scoreBlock {
                padding-top: 0px;
                gap: 50px;
            }
            .singleButton {
                gap: 3px;
            }
            .singleButton input {
                width: 85px;
            }
            .center-section .container {
                flex: 1;
            }
        }